.navbar-brand img {
    width: 200px;
}
.carousel-item {
    height: 400px;
}
.carousel-caption {
    padding-bottom: 130px;
}
.card img {
    width: 130px;
}
.card-body h3 {
    text-transform: uppercase;
    color: #a89b8f;
}
.books {
    border: none;
}